<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'/>
</head>
<body>
    <h2 th:utext="#{hello}"></h2>
    
    <form:form classe="Usuario">
    	<form:field-box type="Checkbox">
    		<form:checkbox/>
    	</form:field-box>
    	
    	<form:field-box type="Input">
    		<form:label/>
    		<form:input/>
    	</form:field-box>
    	
    	<form:field-box type="Radio">
    		<form:radio/>
    	</form:field-box>
    	
    	<form:field-box type="Select">
    		<form:label/>
    		<form:select/>
    	</form:field-box>
    	
    	<form:field-box type="Textarea">
    		<form:label/>
    		<form:textarea/>
    	</form:field-box>
    	
    	<button type="submit">Enviar</button>
    </form:form>
</body>
</html>
