<!DOCTYPE HTML>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form th:action="@{/login}" method="post id="login-form">
	  <div class="heading" th:utext="#{title}"></div>
	  
	  <div class="left">
	    <label for="username" th:utext="#{username}"></label> <br />
	    <input type="text" name="login" id="username" /> <br />
	    
	    <label for="password" th:utext="#{password}"></label> <br />
	    <input type="password" name="senha" id="password" /> <br />
	    
	    <input type="submit" th:value="#{enter}" />
	  </div>
	  
	  <div class="right">
	    <div class="connect" th:utext="#{connect}"></div>
	    
	    <a href="" class="facebook">
	      <span class="fontawesome-facebook"></span>
	    </a> <br />
	    
	    <a href="" class="twitter">
	      <span class="fontawesome-twitter"></span>
	    </a> <br />
	    
	    <a href="" class="google-plus">
	      <span class="fontawesome-google-plus"></span>
	    </a>
	  </div>
	</form>
</body>
</html>
