<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css"/>
  </head>

  <body>

    <div class="wrapper">
        <div class="container">
            <h1 th:utext="#{title}"></h1>
            <form class="form" method="post" th:action="@{/login}">
                <input type="text" th:placeholder="#{username}"/>
                <input type="password" th:placeholder="#{password}"/>
                <button type="submit" id="login-button" th:utext="#{enter}"></button>
            </form>
        </div>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="js/index.js"></script>

  </body>
</html>
